.photo {
    width: 100%;
    height: 40vh;
    background-image: url("../assets/fields.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green_personal_info_background {
    height: 35vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3b4d35;
    background-image: repeating-linear-gradient(to right,
            #3b4d35 0px,
            #32442e 1px,
            #3b4d35 1px,
            #3b4d35 10px);
    box-shadow: 10px 40px 60px 20px rgba(34, 62, 49, 0.3);
}

.info_text {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.short_info_container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.short_info_box {
    width: 15vw;
    height: auto;
}

.extended_info_container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 2rem;
}

.extended_info_box {
    background-color: #f0e8e0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    border-radius: 12px;
    padding: 1.5em;
    line-height: 1.6;
    margin-bottom: 1em;
    margin-top: 2em;
}