.container {
    width: 100%;
    height: 90vh;
    position: relative;
    margin-bottom: 3rem;
}

.bottom_title {
    width: 100%;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.photo {
    width: 100%;
    height: 35vh;
    background-image: url("../assets/fields.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green_personal_info_background {
    min-height: 35vh;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3b4d35;
    background-image: repeating-linear-gradient(to right,
            #3b4d35 0px,
            #32442e 1px,
            #3b4d35 1px,
            #3b4d35 10px);
    box-shadow: 10px 40px 60px 20px rgba(34, 62, 49, 0.3);
}

.info_image {
    width: clamp(100px, 5vw, 400px);
    height: auto;
}

.info_text {
    width: 100%;
    display: flex;
    justify-content: center;
}

.short_info_container {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 1.5rem;
}

.short_info_box {
    width: clamp(120px, 20vw, 200px);
    min-height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.extended_info_container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;

}

.extended_info_box {
    background-color: #f0e8e0;
    line-height: 1.75;
    max-width: 90ch;
    text-align: justify;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 1.5em;
    line-height: 1.6;
    margin-bottom: 1em;
    /* margin-top: 1em; */
}