.photo {
    height: 90vh;
    width: 100%;
    background-image: url('../assets/agriculture.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    box-shadow: 10px 40px 60px 20px rgba(34, 62, 49, 0.3);
}

.photo_motion {
    width: 100%;
    display: flex;
    justify-content: center;
}

.box_image {
    width: clamp(100px, 5vw, 400px);
    height: auto;
}

.green_line {
    width: 30vw;
    height: 1vh;
    background-color: #3b4d35;
    border-radius: 10px;
    margin-bottom: 7em;
    margin-top: 1em;
}

.info_text_block {
    line-height: 1.75;
    max-width: 90ch;
    text-align: justify;


    background-color: #f0e8e0;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
    margin: 3rem auto;
}

.vertical_container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15vh;
    margin-top: 3vh;
}

.info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontally_container {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 1.5rem;
}

.green_box {
    width: 18em;
    height: 25em;
    background-color: #3b4d35;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}