.green_background {
    min-height: auto;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3b4d35;
    background-image: repeating-linear-gradient(to right,
            #3b4d35 0px,
            #32442e 1px,
            #3b4d35 1px,
            #3b4d35 10px);
    box-shadow: 10px 40px 60px 20px rgba(34, 62, 49, 0.3);
    padding: 1rem 0rem;
}

.calligraphic {
    width: 100%;
    margin: 2rem 0rem;
}

.pink_icon_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.pink {
    background-color: #f0e8e0;
    line-height: 1.75;
    max-width: 90ch;
    text-align: justify;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 1.5em;
    line-height: 1.6;
    margin: 1rem 1rem;
}

.icon {
    height: 10rem;
    width: 10rem;
    margin: 2rem;
    animation: spin 7s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

.content_area {
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.title {
    background-image: url("../assets/field_road.png");
    padding: 10rem  2rem;
}

.text_box {
    line-height: 1.75;
    max-width: 90ch;
    text-align: justify;
    margin: 0 1.5rem;
}

